Options -MultiViews
RewriteEngine On

RewriteBase /projectAntun/

RewriteCond %{REQUEST_FILENAME} !-/models/
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^(.+)$ index.php?url=$1